/* ------- CUSTOM COLOR DIALOG ------- */

.dialog > .color-rect-pane {	
	-fx-spacing: 0.75em;	
	-fx-pref-height: 16.666667em;	
	-fx-alignment: top-left;	
	-fx-fill-height: true;
}

.dialog .color-rect-pane .color-rect {	
	-fx-min-width: 16.666667em;	
	-fx-min-height: 16.666667em;
}

.dialog .color-rect-pane .color-rect-border {	
	-fx-border-color: #565654;
}

.dialog > .color-rect-pane #color-rect-indicator {	
	-fx-background-color: #292929;
	-fx-border-color: white;
	-fx-border-radius: 0.4166667em;
	-fx-translate-x: -0.4166667em;
	-fx-translate-y: -0.4166667em;
	-fx-pref-width: 0.833333em;
	-fx-pref-height: 0.833333em;
	/*-fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);*/
}

.dialog > .color-rect-pane > .color-bar {
	-fx-min-width: 1.666667em;
	-fx-min-height: 16.666667em;
	-fx-max-width: 1.666667em;
	-fx-border-color: #565654;
}

.dialog > .color-rect-pane > .color-bar > #color-bar-indicator {
	-fx-border-radius: 0.333333em;	
	-fx-border-color: white;
	-fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
	-fx-pref-width: 2em;
	-fx-pref-height: 0.833333em;
	-fx-translate-x: -0.1666667em;
	-fx-translate-y: -0.4166667em;
}

.dialog  {
    -fx-background-image: url("../images/background/background_tablero.png");
    -fx-background-repeat: repeat;
    /*-fx-background-color: #1d1d1d;*/
    -fx-padding: 1.05em;    
    -fx-spacing: 1.05em;
}

.dialog > .dialog-pane {    
    -fx-border-width: 1px;
    -fx-border-color: #b4b4b4 transparent #b4b4b4 transparent;
    -fx-font-size: 10px;
    -fx-padding: 0.416667em;
    -fx-pref-width: 120px;
    -fx-pref-height: 80px;
}

.dialog > *.label.content{
	-fx-font-family: "Arial";
	-fx-font-size: 13px;	
	-fx-text-fill: #C0C0C0;
	/*-fx-effect: dropshadow( one-pass-box , #5C5C5C, 0.1, 0.1 , 0.1 , 1.9 );*/
}

.dialog > .dialog-pane > .button-bar {
	-fx-font-size: 1em;
}

.dialog > .dialog-pane {
	-fx-padding: 0;
}

.dialog > .dialog-pane > .expandable-content {
	-fx-padding: 0.666667em;
}

.dialog > .dialog-pane > .button-bar > .container {
	-fx-padding: 0.833333em;
}

.dialog > .dialog-pane > .content.label {
	-fx-alignment: top-left;
	-fx-padding: 0.833333em 0.833333em 0 0.833333em;
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
	-fx-font-style: italic;
}

.dialog > .dialog-pane > .content {
	-fx-padding: 0.833333em;
}

.dialog:no-header > .dialog-pane .graphic-container {	
	-fx-padding: 0.833333em 1.166667em 0.833333em 1.166667em;
}

.dialog:header *.header-panel{
	-fx-background-color: transparent;
}

.dialog:header > .dialog-pane .header-panel {
	-fx-padding: 0.833333em 0.833333em 0 0.833333em;
	-fx-background-insets: 0 -1 0 -1, 0 -1 1 -1;
}

.dialog:header *.header-panel *.label{
	-fx-padding: 0.833333em 1.166667em 0.833333em 1.166667em;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-font-style: italic;
	-fx-font-weight: bold;
	-fx-text-fill: #FAF0E6;
	-fx-effect: dropshadow( one-pass-box , #808080, 0.1, 0.1 , 0.1 , 1.9 );
}

.dialog:header > .dialog-pane .header-panel .graphic-container {
	/* This prevents the text in the header running directly into the graphic */
	-fx-padding: 0.833333em 1.166667em 0.833333em 1.166667em;
}

.dialog > .dialog-pane > .button-bar > .container > .details-button  {
	-fx-alignment: baseline-left;
	-fx-focus-traversable: false;
	-fx-padding: 0.416667em; /* 5px */
	-fx-font-size: 1em;
}

.dialog .controls-pane .current-new-color-grid #current-new-color-border {	
	-fx-border-color: #565654;	
	-fx-border-width: 2px;
}


.dialog .controls-pane .current-new-color-grid .color-rect {	
	-fx-min-width: 10.666667em;	
	-fx-min-height: 1.75em;	
	-fx-pref-width: 10.666667em;	
	-fx-pref-height: 1.75em;
}


.dialog .transparent-pattern {
	-fx-background-image: url("../images/background/background_tablero.png");
	-fx-background-repeat: repeat;
	-fx-background-size: auto;
}


.dialog .controls-pane #spacer1 {	
	-fx-min-height: 0.1666667em;	
	-fx-max-height: 0.1666667em;	
	-fx-pref-height: 0.1666667em;
}


.dialog .controls-pane #spacer2 {	
	-fx-min-height: 1em;	
	-fx-max-height: 1em;	
	-fx-pref-height: 1em;
}


.dialog .controls-pane #settings-pane {	
	-fx-hgap: 0.4166667em;	
	-fx-vgap: 0.3333333em;
}


.dialog .controls-pane #settings-pane .settings-label {	
	-fx-min-width: 5.75em;
}


.dialog .controls-pane #settings-pane .settings-unit {	
	-fx-max-width: 1em;
}


.dialog .controls-pane #settings-pane .slider {	
	-fx-pref-width: 8.25em;
}


.dialog .controls-pane .color-input-field {	
	-fx-pref-column-count: 3;	
	-fx-max-width: 3.25em;	
	-fx-min-width: 3.25em;	
	-fx-pref-width: 3.25em;
}


.dialog .controls-pane .web-field {	
	-fx-pref-column-count: 6;	
	-fx-pref-width: 8.25em;
}


.dialog .controls-pane #spacer-side {	
	-fx-min-width: 0.5em;	
	-fx-pref-width: 0.5em;
}


.dialog .controls-pane #spacer-bottom {	
	-fx-pref-height: 0.833333em;	
	-fx-min-height: 0.833333em;
}


.dialog .controls-pane .customcolor-controls-background {
	-fx-background-insets: 	
	    0.8333333em 0 0.4166667em 0,	
	    1em 0.166667em 0.5833333em 0.166667em;	
	-fx-background-radius: 0.3333333em, 0.166667em;
}


.dialog .controls-pane .current-new-color-grid .label {	
	-fx-padding: 0 0 0 0.4166667em;
}


.dialog .controls-pane #buttons-hbox {	
	-fx-spacing: 0.333333em;	
	-fx-padding: 1em 0 0 0;	
	-fx-alignment: bottom-right;
}


/* The fix for RT-37494 forces the web color text's major direction to

 * LTR. The following keeps the text right-aligned when in RTL mode. 

.dialog .webcolor-field:dir(rtl) > .text-field:dir(ltr) {	
	-fx-alignment: baseline-right;
}*/

.dialog > .dialog-pane > .button-bar > .container > .details-button.more {
	-fx-graphic: url("../images/iconos/dialog-more-details.png");
}

.dialog > .dialog-pane > .button-bar > .container > .details-button.less {
	-fx-graphic: url("../images/iconos/dialog-fewer-details.png");
}

.dialog > .dialog-pane > .button-bar > .container > .details-button:hover {
	-fx-underline: true;
}

.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
	-fx-graphic: url("../images/iconos/monopoly5.png");
}

.alert.information.dialog-pane {
	-fx-graphic: url("../images/iconos/monopoly5.png");
}

.alert.error.dialog-pane {
	-fx-graphic: url("../images/iconos/dialog-error.png");
}

.alert.warning.dialog-pane {
	-fx-graphic: url("../images/iconos/dialog-warning.png");
}

.button {
	-fx-background-color:
		rgb(255, 255, 255, 0.08),
		rgb(0, 0, 0, 0.8),
		#090a0c,
		linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
		linear-gradient(#242a2e, #23282e),
		radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,0.9),
		rgba(255,255,255,0));
	-fx-background-radius: 7, 6, 5, 4, 3, 5;
	-fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
	-fx-font-family: "Arial";
	-fx-font-size: 18;
	-fx-text-fill: rgb(255,255,255);
	-fx-effect: dropshadow( one-pass-box , #5C5C5C, 0.1, 0.1 , 0.1 , 0.1 );
    	-fx-padding: 5 5 5 5;
}
