.dialog {
	-fx-background-image: url("../images/background/background_tablero.png");
	-fx-background-repeat: repeat;
	-fx-background-color:
		linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
		linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
	-fx-padding: 0.416667em; /* 5px */
	-fx-text-fill: #ffffff;
	/*-fx-font-size: 20px;*/
}

.dialog > .dialog-pane {
	-fx-background-color: linear-gradient(#ffffff,#f3f3f4);
	-fx-border-width: 1px;
	-fx-border-color: #b4b4b4 transparent #b4b4b4 transparent;
	-fx-font-size: 12px; /*13px;*/
	-fx-text-fill: #ffffff;
	-fx-padding: 0.416667em; /* 5px */
}

.dialog > .dialog-pane > .button-bar {
	-fx-font-size: 1em;
}

.dialog > .dialog-pane {
	-fx-padding: 0;
}

.dialog > .dialog-pane > .expandable-content {
	-fx-padding: 0.666667em; /* 8px */
}

.dialog > .dialog-pane > .button-bar > .container {
	-fx-padding: 0.833333em; /* 10px */
}

.dialog > .dialog-pane > .content.label {
	-fx-alignment: top-left;
	-fx-padding: 0.833333em 0.833333em 0 0.833333em; /* 0 10 0 10 */
	-fx-font-family: "Arial";
	-fx-font-size: 18px;
	-fx-font-style: italic;
	-fx-text-fill: #ffffff;
	-fx-effect: dropshadow( one-pass-box , #FFFFFF, 0.1, 0.1 , 0.1 , 1.9 );
	/*-fx-effect: dropshadow( one-pass-box , #5C5C5C, 0.1, 0.1 , 0.1 , 1.9 );*/ 
}
.dialog > .dialog-pane > .content {
	-fx-padding: 0.833333em; /* 10 */
}

.dialog:no-header > .dialog-pane .graphic-container {
	-fx-padding: 0.833333em 1.166667em 0.833333em 1.166667em; /* 10px 14px 10px 14px */
}

.dialog:header > .dialog-pane .header-panel {
	-fx-padding: 0.833333em 0.833333em 0 0.833333em;
	-fx-background-insets: 0 -1 0 -1, 0 -1 1 -1;
	-fx-background-image: url("../images/background/background_tablero.png");
	-fx-background-repeat: repeat;
	-fx-background-color:
		linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
		linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
	-fx-padding: 0;
}

.dialog:header > .dialog-pane .header-panel .label {
	-fx-font-family: "Arial";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-wrap-text: true;
	-fx-text-fill: #ffffff;
	-fx-effect: dropshadow( one-pass-box , #5C5C5C, 0.1, 0.1 , 0.1 , 1.9 );
	-fx-padding: 0.833333em 1.166667em 0.833333em 1.166667em;
}

.dialog:header > .dialog-pane .header-panel .graphic-container {
	/* This prevents the text in the header running directly into the graphic */
	-fx-padding: 0.833333em 1.166667em 0.833333em 1.166667em; /* 10px 14px 10px 14px */
}

.dialog > .dialog-pane > .button-bar > .container > .details-button  {
	-fx-alignment: baseline-left;
	-fx-focus-traversable: false;
	-fx-padding: 0.416667em; /* 5px */
	-fx-font-size: 1em;
}


.dialog > .dialog-pane > .button-bar > .container > .details-button.more {
	-fx-graphic: url("../images/iconos/dialog-more-details.png");

}

.dialog > .dialog-pane > .button-bar > .container > .details-button.less {
	-fx-graphic: url("../images/iconos/dialog-fewer-details.png");
}

.dialog > .dialog-pane > .button-bar > .container > .details-button:hover {
	-fx-underline: true;
}

.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
    -fx-graphic: url("../images/iconos/dialog-confirm.png");
}

.alert.information.dialog-pane {
    -fx-graphic: url("../images/iconos/dialog-information.png");
}

.alert.error.dialog-pane {
    -fx-graphic: url("../images/iconos/dialog-error.png");
}

.alert.warning.dialog-pane {
    -fx-graphic: url("../images/iconos/dialog-warning.png");
}


.button {
	-fx-background-color:
		rgb(255, 255, 255, 0.08),
		rgb(0, 0, 0, 0.8),
		#090a0c,
		linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
		linear-gradient(#242a2e, #23282e),
		radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,0.9),
		rgba(255,255,255,0));
	-fx-background-radius: 7, 6, 5, 4, 3, 5;
	-fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
	-fx-font-family: "Arial";
	-fx-font-size: 18;
	-fx-text-fill: rgb(255,255,255);
	-fx-effect: dropshadow( one-pass-box , #5C5C5C, 0.1, 0.1 , 0.1 , 0.1 );
    	-fx-padding: 5 5 5 5;
}

