<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
        <session-factory>
                <!-- aca van todas las calses que tienen fk o mapped by -->
                <mapping class="monopoly.model.Jugador" />
                <mapping class="monopoly.model.tarjetas.TarjetaPropiedad" />
                <mapping class="monopoly.model.tarjetas.TarjetaCalle" />
                <mapping class="monopoly.model.tarjetas.TarjetaEstacion" />
                <mapping class="monopoly.model.tarjetas.TarjetaCompania" />
                <mapping class="monopoly.model.tarjetas.TarjetaSuerte" />
                <mapping class="monopoly.model.tarjetas.TarjetaComunidad" />

		
        </session-factory>
</hibernate-configuration>